.cartContainer{
    display: flex;
    align-items: start;
    height: 100vh;
    margin: 20px;
}

.cartItemsContainer{
    width: 70%;
}

.confirmContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 30%;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.confirmContainer p{
    color: white;
}

.confirmContainer button{
    color: var(--primary-color);
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
}