.orderContainerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 10px auto;
    gap: 10px;
}

.order{
    color: white;
    padding: 10px;
}

.emptyOrdersMsg{
    display: flex;
    justify-content: center;
    margin: 20px;
}