.itemCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 1px solid;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    gap: 8px;
}

.itemCard img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}


.itemCard button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}