.navContainer{
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    color: white;
    background-color: #535353;
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
}