@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --primary-color: rgb(192, 25, 13);
    --secondary-color: rgb(243, 67, 54);
    --tertiary-color: rgb(207, 176, 2);
    --font-family: "Rubik";

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}